{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	
	<div class="content-section">
		<br>
		<legend class="border-bottom mb-4">
			<h1>Author Profile</h1>
		</legend>
		<div class="media">
			<img class= "rounded-circle account-img" src="{{ post.author.profile.image.url }}">
			<div class="media-body">
				<br>
				<h2 class="account-heading">{{ post.author.first_name }} {{ post.author.last_name }}</h2>
				<p class="text-secondary">{{ post.author.email }}</p>
			</div>
		</div>
		<br>
	</div>
	
{% endblock content %}
